#location{
    height: 100vh;
    position: relative;
    padding: 0 1rem;

    .container{
        position: relative;
        z-index: 5;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @media (max-width: 767px){
            gap: 1rem;
        }

        .heading-icon{
            position: relative;
            max-width: 120px;
            width: 100%;
            text-align: center;

            @media (max-width: 767px){
                max-width: 80px;
            }

            &:before{
                content: " ";
                position: absolute;
                width: 150px;
                height: 2px;
                background-color: #B1A393;
                top: 50%;
                right: 100%;

                @media (max-width: 767px){
                    width: 70px;
                }
            }

            &:after{
                content: " ";
                position: absolute;
                width: 150px;
                height: 2px;
                background-color: #B1A393;
                top: 50%;
                left: 100%;

                @media (max-width: 767px){
                    width: 70px;
                }
            }

            svg{
                height: 100px;
                width: 100px;

                @media (max-width: 767px){
                    width: 70px;
                    height: 70px;
                }
            }
        }

        h2{
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0 0 4rem;
            color:#B1A393;
            letter-spacing: 0.1rem;

            @media (max-width: 1024px){
                margin: 0 0 0rem;
            }

            @media (max-width: 767px){
                font-size: 1.3rem;
            }
        }

        .wedding-location{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 4rem;
            max-width: 1024px;
            width: 100%;

            @media (max-width: 1024px){
                flex-direction: column;
                align-items: center;
                gap: 1rem;
            }

            .wedding-location-item{
                flex-shrink: 1;
                flex-grow: 1;
                max-width: 400px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;
                padding: 1rem;
                border: 1px solid #B1A393;

                @media (max-width: 767px){
                    max-width: 300px;
                }

                h3{
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.5rem;
                    font-weight: 300;
                    text-transform: uppercase;
                    margin: 0;
                    color:#B1A393;
                    letter-spacing: 0.1rem;
                    text-align: center;
                    width: 100%;

                    @media (max-width: 767px){
                        font-size: 1.2rem;
                    }
                }

                > svg{
                    max-width: 176px;
                    width: 100%;
                    margin: 0 auto;
                }

                .wedding-location-item_date,
                .wedding-location-item_time,
                .wedding-location-item_address{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    .icon{
                        svg{
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .data{
                        font-family: 'Poppins', sans-serif;
                        font-size: 1rem;
                        font-weight: 300;
                        text-transform: uppercase;
                        color:#B1A393;
                    }
                }
            }
        }
    }
}